<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RadControls.for.WinForms.Common" version="2013.3.1016" targetFramework="net45" />
  <package id="RadControls.for.WinForms.Dock" version="2013.3.1016" targetFramework="net45" />
  <package id="RadControls.for.WinForms.Themes" version="2013.3.1016" targetFramework="net45" />
</packages>